@page "/chessboard"
@using game = CSharpChess.GameLogic
@using chessBoard = CSharpChess.ChessBoard;
<h3>ChessBoard</h3>

<table>
    @for (int i = 0; i < 8; i++)
    {
        <tr>
            @for (int k = 0; k < 8; k++)
            {
                <td id="@k @i">@chessBoard.Board[k,i].ContentStr</td>
            }
        </tr>
    }
</table>

@code {
    protected override void OnInitialized()
    {
        game.SetupBoard();
    }
}
