* {
	--board-white: #ffce9e;
	--board-black: #d18b47;
}

.tile-w, .tile-b {
	width: 50px;
	height: 50px;
}

	.tile-w img, .tile-b img {
		width: 50px;
		height: 50px;
	}

.tile-w {
	background-color: var(--board-white);
}

.tile-b {
	background-color: var(--board-black);
}

.tile-edge {
	text-align: center;
	min-width: 26px;
}
