@page "/chessboard"
@using Game = CSharpChess.GameLogic
@using Constants = CSharpChess.ChessNotation
@using Board = CSharpChess.ChessBoard;
@inject IJSRuntime JS
@implements IAsyncDisposable

<h3>ChessBoard</h3>

<table>
    @for (int i = 0; i < 10; i++)
    {
        <tr>
            @for (int k = 0; k < 10; k++)
            {
                @if (k != 0 && i != 0 && i != 9 && k != 9)
                {
                    int x = k - 1;
                    int y = 8 - i;

                    <td class="tile-@(Board.Board[x, y].SquareColor ? "w" : "b")">
                        @if (Board.Board[x, y].ContentImageFileName != "N")
                        {
                            <img id="piece-@x;@y" src="/pieces/@Board.Board[x, y].ContentImageFileName" />
                        }
                    </td>
                }
                else
                {
                    <td class="tile-edge">
                        @if (i != 0 && i != 9)
                        {
                            @Constants.LegalRankNames[i - 1]
                        }
                        else
                        {
                            if (k != 0 && k != 9)
                            {
                                @Constants.LegalFileNames[k - 1]
                            }
                        }
                    </td>
                }
            }
        </tr>
    }
</table>

@code {
    private IJSObjectReference? module;

    protected override void OnInitialized()
    {
        Game.SetupBoard();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Import the JS module file that lives next to this component
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./ChessBoard.razor.js");
            await module.InvokeVoidAsync("main");
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }

    [JSInvokable]
    public static void HighLightMoves(int x, int y)
    {
        
    }
}
