root = true

[*.cs]
dotnet_naming_style.camel_case_style.capitalization             = camel_case
dotnet_naming_style.pascal_case_style.capitalization            = pascal_case
dotnet_naming_style.interface_style.capitalization              = pascal_case
dotnet_naming_style.interface_style.required_prefix             = I
dotnet_naming_style.private_field_style.capitalization          = camel_case
dotnet_naming_style.private_field_style.required_prefix         = _

dotnet_naming_symbols.parameters.applicable_kinds               = parameter
dotnet_naming_symbols.methods.applicable_kinds                  = method
dotnet_naming_symbols.classes.applicable_kinds                  = class, struct, enum, delegate
dotnet_naming_symbols.interfaces.applicable_kinds               = interface
dotnet_naming_symbols.private_fields.applicable_kinds           = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_rule.parameters_camel_case.symbols                = parameters
dotnet_naming_rule.parameters_camel_case.style                  = camel_case_style
dotnet_naming_rule.parameters_camel_case.severity               = warning

dotnet_naming_rule.methods_pascal_case.symbols                  = methods
dotnet_naming_rule.methods_pascal_case.style                    = pascal_case_style
dotnet_naming_rule.methods_pascal_case.severity                 = warning

dotnet_naming_rule.classes_pascal_case.symbols                  = classes
dotnet_naming_rule.classes_pascal_case.style                    = pascal_case_style
dotnet_naming_rule.classes_pascal_case.severity                 = warning

dotnet_naming_rule.interfaces_prefix_I.symbols                  = interfaces
dotnet_naming_rule.interfaces_prefix_I.style                    = interface_style
dotnet_naming_rule.interfaces_prefix_I.severity                 = warning

dotnet_naming_rule.private_fields_underscore.symbols            = private_fields
dotnet_naming_rule.private_fields_underscore.style              = private_field_style
dotnet_naming_rule.private_fields_underscore.severity           = warning


# CA1515: Consider making public types internal
dotnet_diagnostic.CA1515.severity                               = none
